<div class="details">
    <p class="title">Personal Details</p>
    <table width="100%">
        <tr>

            <td>
                <article class="single-details">
                    <h6 class="column-title">Name</h6>
                    <p class="column-sub-title">{{model.Name}}</p>
                </article>
            </td>
            
        </tr>
        
        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">DOB</h6>
                    <p class="column-sub-title">{{model.DOB}}</p>
                </article>
            </td>
            
        </tr>

        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">Gender</h6>
                    <p class="column-sub-title">{{model.Gender}}</p>
                </article>
            </td>
            
        </tr>

        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">Mobile No.</h6>
                    <p class="column-sub-title">{{model.Mobile}}</p>
                </article>
            </td>
            
        </tr>

        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">Email ID</h6>
                    <p class="column-sub-title">{{model.Email_ID}}</p>
                </article>
            </td>
            
        </tr>

        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">Languages Known</h6>
                    <p class="column-sub-title">{{model.Language}}</p>
                </article>
            </td>
            
        </tr>
        
    </table>
</div>

<div class="details">
    <p class="title">Address Details</p>
    <table width="100%">
        
        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">Nationality</h6>
                    <p class="column-sub-title">{{model.Nationality}}</p>
                </article>
            </td>
        </tr>
        
        
        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">Address</h6>
                    <p class="column-sub-title">{{model.Address}}</p>
                </article>
            </td>
        </tr>

        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">State</h6>
                    <p class="column-sub-title">{{model.State}}</p>
                </article>
            </td>
        </tr>

        <tr>
            <td>
                <article class="single-details">
                    <h6 class="column-title">Pincode</h6>
                    <p class="column-sub-title">{{model.Pincode}}</p>
                </article>
            </td>
        </tr>
    </table>
</div>
{{outlet}}